<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.33,minimum-scale=1.0,maximum-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <title>注册</title>
        <meta http-equiv="Content-Language" content="zh-CN">
        <link rel="stylesheet" rev="stylesheet" href="/stylesheets/fonts/iconfont.css" type="text/css" media="all">
        <link rel="stylesheet" rev="stylesheet" href="/stylesheets/txcstx.css" type="text/css" media="all">
        <style> body{color:"#";}a{color:"#";}a:hover{color:"#";}.bg-black{background-color:"#";}.tx-login-bg{background:url(/images/bg.jpg) no-repeat 0 0;}</style>
    </head>
    <body class="tx-login-bg">
        <form action="register" method="POST">
            <div class="tx-login-box">
                <div class="login-avatar bg-black"><i class="iconfont icon-friendadd"></i></div>
                <ul class="tx-form-li row">
                    <li class="col-24 col-m-24"><p><input required="required" type="text" name="name" class="tx-input"><i>账号</i></p></li>
                    <li class="col-24 col-m-24"><p><input required="required" type="password" name="pwd" class="tx-input"><i>密码</i></p></li>
                    <li class="col-24 col-m-24"><p><input required="required" type="password" name="repassword" class="tx-input"><i>确认密码(*)</i></p></li>
                    <li class="col-24 col-m-24"><p class="tx-input-full"><input type="submit" value="提交" onclick="return register()" class="tx-btn tx-btn-big bg-black"></p></li>
                    <li class="col-12 col-m-12"><p class="f-12 f-gray">已有账户？<a href="login">去登陆</a></p></li>
                    <li class="col-12 col-m-12"><p class="ta-r"><a href="resetpwd" class="f-12 f-gray">忘记密码</a></p></li>
                </ul>
            </div>
        </form>
    </body>
</html>

